---
import { twMerge } from 'tailwind-merge'

const { audio, iconPause, iconPlay, hrColor, textColor, stageIndex, audioIndex } = Astro.props
---

<div class='flex flex-col'>
	<button class='flex flex-col items-center gap-5'>
		<audio src={audio.audioSrc}></audio>
		<div class='relative h-[70px] w-[80px]'>
			<img
				src={iconPause}
				alt={'pause icon'}
				class={twMerge(
					'h-[70px] w-[80px]absolute top-0 left-0 pause-icon',
					'display-none'
				)}
			/>
			<img
				src={iconPlay}
				alt='play icon'
				class='h-[70px] w-[80px] absolute top-0 left-0
										play-icon'
			/>
		</div>
		<span class={twMerge(textColor, 'text-2xl')}>{audio.title}</span>
	</button>

	<hr class={twMerge(hrColor, "h-[2px] mx-auto w-4/5 mt-3 mb-3 border-none")}>

	<button class='transcript-open-button flex flex-col items-center transcript-open-button'
                data-stage={stageIndex}
                data-audio={audioIndex}>
		<span class={twMerge(textColor)}>más info</span>
		<span class={twMerge(textColor)}>+++</span>
	</button>
</hr>

<script>

</script>
